:root { 
--black_900_7f:#0000007f; 
--gray_600:#808080; 
--black_900_4c:#0000004c; 
--black_900_f4:#000000f4; 
--gray_400:#b3b3b3; 
--black_900_e5:#000000e5; 
--black_900_b2:#000000b2; 
--amber_600:#ffb700; 
--black_900_f2:#000000f2; 
--black_900_0c:#0000000c; 
--black_900_3f:#0000003f; 
--gray_100:#f5f5f5; 
--amber_600_e5:#ffb700e5; 
--black_900_99:#00000099; 
--black_900_33:#00000033; 
--black_900:#000000; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--red_A700:#ff0000; 
}